.main-head-div {
    display: flex;
    margin: 7% 0% 5% 10%;
}

.main-heading {
    width: 45vw;
    margin: 0% 0% 5% 1%;
}

.main-heading>div>h2 {
    font-size: 7vh;
    font-weight: 700;
    color: rgb(157, 0, 255);
}

.main-heading>span {
    font-size: 3vh;
    text-align: justify;
    margin: 7% 0% 0% 1%;
}

.main-span-div {
    display: flex;
    flex-wrap: wrap;
    font-size: 3vh;
    margin: 3% 0% 0% -8%;
}

.main-span-div>span {
    margin: 0% 0% 0% 10%;
}

.video-div>video {
    height: 70vh;
    margin: 0% 0% 0% 5%;
}

@media only screen and (max-width: 920px) {

    .main-head-div {
        margin: 7% 0% 5% 0%;
    }

    .main-heading {
        width: 100%;
        margin: 0% 0% 5% 1%;
    }

    .main-heading>div>h2 {
        font-size: 4vh;
        font-weight: 600;
    }

    .main-heading>span {
        text-align: justify;
        font-size: 2vh;
        margin: 7% 0% 0% 1%;
    }

    .main-span-div {
        font-size: 2vh;
        margin: 3% 0% 0% 0%;
    }

    .main-span-div>span {
        margin: 0% 0% 0% 5%;
    }

    .video-div>video {
        display: none;
    }

}

/* ............................................................................................................. */

.expertise-main-head {
    font-size: 6vh;
    font-weight: 700;
    color: rgb(157, 0, 255);
}

.expertise-main-div {
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2% 0% 0% 2.5%;
    /* border: 1px solid black; */
}

.expetise-content-div {
    width: 25%;
    border-radius: 15px;
    padding: 2% 2% 2% 2%;
    margin: 2% 3% 2% 3%;
    box-shadow: 2px 2px 10px rgb(164, 83, 214);
    /* border: 1px solid black; */
}

.expetise-content-div>img {
    height: 15vh;
    width: 10vw;
    margin: 0% 0% 10% 0%;
}

.content-head {
    width: 100%;
    color: rgb(164, 83, 214);
    margin: 0% 0% 3% 0%;
    /* border: 1px solid black; */
}

.content-head>h2 {
    font-size: 4vh;
}

.content-head>p {
    font-size: 3.3vh;
}

@media only screen and (max-width: 920px) {

    .expertise-main-head {
        font-size: 4vh;
        font-weight: 600;
    }

    /* .expertise-main-div {
        border: 1px solid black;
    }
     */
    .expetise-content-div {
        width: 100%;
        margin: 2% 0% 2% 0%;
    }

    .expetise-content-div>img {
        height: 15vh;
        width: 20vw;
    }

    .content-head>h2 {
        font-size: 3vh;
    }

    .content-head>p {
        font-size: 2.3vh;
    }


}

/* ........................................................................................................... */
.reason-main-div {
    margin: 5% 0% 3% 10%;
    width: 80%;
}

.reason-main-div>h2 {
    font-size: 6vh;
    font-weight: 700;
    margin: 0% 0% 5% 0%;
    color: rgb(157, 0, 255);
}

.reason-main-div>ul {
    font-size: 3.3vh;
    text-align: justify;
}

@media only screen and (max-width: 920px) {

    .reason-main-div>h2 {
        font-size: 4vh;
        font-weight: 600;
    }

    .reason-main-div>ul {
        font-size: 2vh;
    }

}

/* ............................................................................................................. */

.application-main-head {
    font-size: 6vh;
    font-weight: 700;
    color: rgb(157, 0, 255);
}

.application-main-div {
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2% 0% 0% 2.5%;
    /* border: 1px solid black; */
}

.application-content-div {
    width: 15%;
    border-radius: 15px;
    padding: 2% 2% 2% 2%;
    margin: 2% 3% 2% 3%;
    box-shadow: 2px 2px 10px rgb(164, 83, 214);
    /* border: 1px solid black; */
}

.application-content-div>img {
    height: 10vh;
    /* width: 10vw; */
    margin: 0% 0% 10% 0%;
}

.application-content-div>span {
    position: absolute;
    justify-content: left;
    margin: -2% 0% 0% -5% !important;
    color: rgba(143, 129, 151, 0.842);
    z-index: -1;
    opacity: 0.5;
    font-size: 25vh;
}

.app-content-head {
    width: 100%;
    color: rgb(164, 83, 214);
    margin: 0% 0% 3% 0%;
    /* border: 1px solid black; */
}

.app-content-head>h2 {
    font-size: 4vh;
}

.app-content-head>p {
    font-size: 3.3vh;
}

@media only screen and (max-width: 920px) {

    .application-main-head {
        font-size: 4vh;
        font-weight: 600;
    }

    .application-main-div {
        display: block;
    }

    .application-content-div {
        width: 90%;
        margin: 5% 0% 0% 5%;
        padding: 2% 2% 2% 2%;
    }

    .application-content-div>img {
        height: 8vh;
        margin: 0% 0% 5% 0%;
    }

    .application-content-div>span {
        margin: -4% 0% 0% -33% !important;
        font-size: 18vh;
    }

    .app-content-head {
        width: 100%;
        color: rgb(164, 83, 214);
        margin: 0% 0% 2% 0%;
    }

    .app-content-head>h2 {
        font-size: 3vh;
    }

    .app-content-head>p {
        font-size: 3.3vh;
    }


}

/* ............................................................................................................. */

.solution-main-head {
    font-size: 6vh;
    font-weight: 700;
    color: rgb(157, 0, 255);
    margin: 3% 0% 3% 0%;
}

.solution-main-div {
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2% 0% 0% 2.5%;
    /* border: 1px solid black; */
}

.solution-content-div {
    width: 12%;
    border-left: 8px solid rgb(164, 83, 214);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 2% 0% 2% 0%;
    margin: 2% 3% 2% 3%;
    box-shadow: 2px 2px 10px rgb(164, 83, 214);
    /* border: 1px solid black; */
}

.solution-content-div>img {
    height: 7vh;
    filter: brightness(50%);
    /* width: 10vw; */
    margin: 0% 0% 10% 0%;
}

.solution-content-div>span {
    position: absolute;
    justify-content: left;
    margin: -2% 0% 0% -5% !important;
    color: rgba(143, 129, 151, 0.842);
    z-index: -1;
    opacity: 0.5;
    font-size: 25vh;
}

.solution-content-head {
    width: 100%;
    color: rgb(164, 83, 214);
    margin: 0% 0% 3% 0%;
    /* border: 1px solid black; */
}

.solution-content-head>h2 {
    font-size: 3vh;
}

@media only screen and (max-width: 920px) {


    .solution-main-div {
        width: 100%;
        margin: 2% 0% 0% 1%;
    }

    .solution-main-head {
        font-size: 4vh;
        font-weight: 600;
    }

    .solution-content-div {
        width: 45%;
        padding: 2% 1% 2% 1%;
        margin: 2% 1% 2% 1%;
        box-shadow: 2px 2px 10px rgb(164, 83, 214);
    }

    .solution-content-head>h2 {
        font-size: 2vh;
    }

}

/* ......................................................................................................... */

.faq-main-div>h2 {
    font-size: 6vh;
    font-weight: 700;
    margin: 7% 0% 5% 0%;
    color: rgb(157, 0, 255);
}

.accordion-button {
    font-size: 2.5vh !important;
}
@media only screen and (max-width: 920px) {
    .faq-main-div>h2 {
        font-size: 4vh;
        font-weight: 600;
    }
    
    .accordion-button {
        font-size: 2.3vh !important;
    }
}