.web-main-head-div{
    display: flex;
    margin: 7% 0% 5% 10%;
}
.web-main-heading{
    width: 45vw;
    margin: 0% 0% 5% 1%;
}
.web-main-heading>div>h2{
    font-size: 7vh;
    font-weight: 700;
    color: rgb(157, 0, 255);
}
.web-main-heading>span{
    font-size: 3vh;
    margin: 7% 0% 0% 1%;
}

.web-main-span-div{
    display: flex;
    flex-wrap: wrap;
    font-size: 3vh;
    margin: 3% 0% 0% -8%;
}
.web-main-span-div>span{
    margin: 0% 0% 0% 10%;
}
.video-div>video{
    height: 70vh;
    margin: 0% 0% 0% 5%;
}
@media only screen and (max-width: 920px) {

    .web-main-head-div{
    margin: 7% 0% 5% 0%;
        padding: 0% 2% 0% 2%;
    }
    .web-main-heading{
        width: 100%;
        margin: 0% 0% 5% 1%;
    }
    .web-main-heading>div>h2{
        font-size: 4vh;
        font-weight: 600;
    }
    .web-main-heading>span{
        font-size: 2vh;
    }
    
    .web-main-span-div{
        font-size: 2vh;
    }

    .video-div>video{
        display: none;
    }

}